# Dynamic version
fied/_version.py

/data/*
!/data/dir_structure.md
*.pyc
*.pkl

# pixi environments
.pixi

# Distribution / packaging
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
