name: Lint Code Base

on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint Code Base with Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          version: 0.7.4
          args: check
          src: "./fied"

      # - uses: astral-sh/ruff-action@v3
      #   with:
      #     version: 0.7.4
      #     args: format --check
      #     src: "./fied"
